<%= form_for @movie, html: { multipart: true} do |f| %>
  
  <% if @movie.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</p>

        <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p> 
    <%= f.label :format %><br>
    <%= collection_check_boxes(:movie, :format_ids, Format.all, :id, :name) %>
  </p>
  <p> 
    <%= f.label :app %><br>
    <%= collection_check_boxes(:movie, :app_ids, App.all, :id, :name) %>
  </p>

    <p> 
    <%= f.label :definitions %><br>
    <%= collection_check_boxes(:movie, :definition_ids, Definition.all, :id, :name) %>
  </p>

  <%= f.submit %>

<% end %>

<%= link_to "Back to all the movies", movies_path %>