<%= form_for @movie, url: {action: :create} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <%= f.submit %>
<% end %>

<%= link_to "Back to the movies", movies_path(@movie) %>