<h1><%= @movie.title %></h1>

<p>
  <% @movie.formats.each do |format| %>
    <%= format.name %>
  <% end %>
</p>

<p>
  <% @movie.apps.each do |app| %>
    <%= app.name %>
  <% end %>
</p>

<p>
  <% @movie.definitions.each do |definition| %>
    <%= definition.name %>
  <% end %>
</p>

<p>
  <%= link_to 'edit', edit_movie_path(@movie) %>
</p>

<p>
  <%= link_to "Back to all the movies", movies_path %>
</p>
